body {
  background-color: #f0ffff;
  margin: 0;
}

.title {
  font-family: Meiryo;
  background-color: skyblue;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.input-area .todoTitle {
  display: flex;
  position: absolute;
  top: 14px;
  left: 29%;
}

.input-area .todoDetail {
  display: flex;
  position: fixed;
  left: 29%;
  bottom: 73%;
}

.todoTitles {
  display: flex;
  position: relative;
}

.todoElement {
  display: flex;
}

input {
  margin: 10px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: 3px solid #6495ed;
}

button {
  width: 80px;
  height: 35px;
  background-color: #ccffff;
  border-radius: 10px;
  border: 1px solid #00ffff;
  margin: 5px;
  box-shadow: 10px 10px 15px -15px;
}

button:hover {
  background-color: #77f9c3;
  color: #ff9872;
  cursor: pointer;
}

li {
  font-size: 16px;
  text-align: center;
  list-style: none;
}

.todoTitle {
  display: inline;
}

.status-area {
  display: flex;
  justify-content: center;
}

.in-progress {
  width: 30%;
  min-height: 200px;
  background-color: #ffff99;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  box-shadow: 10px 10px 15px -10px;
}

.progress-letter {
  text-align: center;
}

.complete {
  width: 30%;
  min-height: 200px;
  background-color: #ffad90;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 15px -10px;
}

.complete-letter {
  text-align: center;
}
